<div class="container my-5">
    <h2>{{header}}</h2>

    <hr />
    <div class="row">
        <div class="offset-2 col-md-6">
            <form (ngSubmit)="addAmenities(f.form)" #f='ngForm'>

                <div class="mb-3">
                    <label for="id" class="form-label">Id</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="amenity.id">
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="amenity.name">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="description" class="form-control" id="description" name="description" [(ngModel)]="amenity.description">
                </div>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>